
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relay Information</title>
</head>
<body>
    {% if relay_info %}
        {% if not relay_running %}
        <p><b>Relay is down! Email should be sent</b></p>
        {% endif %}
   
        {% for key, value in relay_info.items() %}
            <p> {{key}}: {{value}}</p>
        {% endfor %}
    {% else %}
        <p>No relay information available</p>
    {% endif %}
</body>
</html>